<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-color:#000000">
<head>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
</head>
<body style="background-color:#000000">
{% if request.user.is_authenticated %}
    <button style="top: 10px;right: 10px;position:absolute;" class="button is-primary" onclick="window.location.href='{% url 'logout'%}'">Logout</button>
    <button style="top: 10px;left: 10px;position:absolute;" class="button is-primary" onclick="window.location.href='{% url 'add_student' college.id%}'">Add Student</button>
{% endif %}
<h2 class="title" style="text-align: center;color:#FFFFFF"> {{college.name}}</h2>
{% if perms.onlineapp.addCollege %}

{% endif %}
<table class="table is-striped is-fullwidth" style="background-color:#CACCCE;right:10px;left=10px;">
    <thead style="background-color:#00d1b2;"><th>Id</th><th>Name</th><th>Email</th><th>Score</th><th>Action</th>
        {% if perms.onlineapp.editCollege and perms.onlineapp.deleteCollege %}

        {% endif %}
    </thead>
    <tr>
    {% for s in students %}
    <td>{{s.id}}</td><td>{{s.name}}</td><td>{{s.email}}</td><td> {{s.mocktest1.total}}</td>

        <td><a href="{% url 'edit_student' s.college.id s.id%}">edit</a>   <a href="{% url 'delete_student' s.college.id s.id%}">delete</a></td>

        {% if perms.onlineapp.editCollege and perms.onlineapp.deleteCollege %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
</body>
</html>